# ===========================
# Virtual Environments
# ===========================
.venv/
venv/
env/

# ===========================
# Environment Variables
# ===========================
.env
**/.env

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ===========================
# IDEs
# ===========================
.vscode/
.idea/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/
backend/test.ipynb

# ===========================
# Streamlit Secrets
# ===========================
.streamlit/secrets.toml

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db