unstructured
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface


pdf2image
pdfplumber
pytesseract

sentence-transformers
transformers
torch
faiss-cpu

numpy
pandas

rank-bm25

redis
fastapi
uvicorn
streamlit
requests

python-dotenv

pydantic